<aside class="sidebar right-sidebar sticky">
  <form action="/search/" class="search-form widget">
    <p>
      <label>Search</label>
      <input name="keyword" required="" placeholder="Type something..." />

      <button title="Search">
        <%= svg "icons/search.svg" %>
      </button>
    </p>
  </form>

  <section class="widget archives">
    <div class="widget-icon">
        <%= svg "icons/infinity.svg" %>
    </div>
    <h2 class="widget-title section-title">Archives</h2>

    <div class="widget-archive--list">
      <div class="archives-year">
        <a href="/archives/#2019">
          <span class="year">2019</span>
          <span class="count">5</span>
        </a>
      </div>
    </div>
  </section>

  <section class="widget tagCloud">
    <div class="widget-icon">
        <%= svg "icons/hash.svg" %>
    </div>
    <h2 class="widget-title section-title">Categories</h2>

    <div class="tagCloud-tags">
      <a href="/categories/test/" class="font_size_2"> Test </a>

      <a href="/categories/syntax/" class="font_size_1"> syntax </a>

      <a href="/categories/test-with-whitespaces/" class="font_size_1">
        Test with whitespaces
      </a>

      <a href="/categories/themes/" class="font_size_1"> themes </a>
    </div>
  </section>

  <section class="widget tagCloud">
    <div class="widget-icon">
        <%= svg "icons/tag.svg" %>
    </div>
    <h2 class="widget-title section-title">Tags</h2>

    <div class="tagCloud-tags">
      <a href="/tags/markdown/" class="font_size_2"> markdown </a>

      <a href="/tags/css/" class="font_size_1"> css </a>

      <a href="/tags/emoji/" class="font_size_1"> emoji </a>

      <a href="/tags/html/" class="font_size_1"> html </a>

      <a href="/tags/privacy/" class="font_size_1"> privacy </a>

      <a href="/tags/shortcodes/" class="font_size_1"> shortcodes </a>

      <a href="/tags/tag-with-whitespaces/" class="font_size_1">
        tag with whitespaces
      </a>

      <a href="/tags/text/" class="font_size_1"> text </a>

      <a href="/tags/themes/" class="font_size_1"> themes </a>
    </div>
  </section>
</aside>
