<aside class="sidebar right-sidebar sticky">
  <section class="widget archives">
    <div class="widget-icon"><%= svg "icons/hash.svg" %></div>
    <h2 class="widget-title section-title">Table of contents</h2>

    <div class="widget--toc">
      <nav id="TableOfContents">
        <ol>
          <li>
            <a href="#youtube-privacy-enhanced-shortcode"
              >YouTube Privacy Enhanced Shortcode</a
            >
          </li>
          <li>
            <a href="#twitter-simple-shortcode">Twitter Simple Shortcode</a>
          </li>
          <li><a href="#vimeo-simple-shortcode">Vimeo Simple Shortcode</a></li>
          <li><a href="#bilibilibi-shortcode">bilibilibi Shortcode</a></li>
          <li><a href="#gist-shortcode">Gist Shortcode</a></li>
          <li>
            <a href="#gitlab-snippets-shortcode">Gitlab Snippets Shortcode</a>
          </li>
          <li><a href="#quote-shortcode">Quote Shortcode</a></li>
        </ol>
      </nav>
    </div>
  </section>
</aside>
